html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

main {
    width: 500px;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo {
    width: 150px;
}

.bold-text {
    font-weight: bold;
}

.user-info {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.container {
    display: inline-block;
}

.container p {
    margin-top: 0;
    margin-bottom: 0;
}
